a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
}

.container {
  width: 1240px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  padding: 41px 0;
}
.header .container {
  display: flex;
  align-items: center;
  gap: 467px;
}

.logo {
  width: 150px;
  height: 65px;
}

.nav-list {
  display: flex;
  gap: 116px;
}
.nav-list__link {
  font-weight: 600;
  font-size: 16px;
  line-height: 175%;
  letter-spacing: 0.01em;
  text-align: center;
  color: #252b42;
  transition: color 250ms ease;
}
.nav-list__link:hover {
  color: #fa4a0c;
}

.hero {
  padding: 80px 0 160px;
  background-image: url("../images/herobg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 619px;
}
.hero .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero__app {
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0em;
  text-align: center;
  color: #f6f6f6;
  display: block;
}
.hero__title {
  font-weight: 700;
  font-size: 58px;
  line-height: 138%;
  letter-spacing: 0em;
  text-align: center;
  color: #fff;
}
.hero__order {
  font-weight: 500;
  font-size: 24px;
  line-height: 158%;
  letter-spacing: 0.01em;
  text-align: center;
  color: #f6f6f6;
}
.hero__order-container {
  width: 539px;
  margin-top: 53px;
  display: flex;
  gap: 67px;
}
.hero__btn {
  background-color: transparent;
  padding: 15px 81px;
  border-radius: 30px;
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0em;
  color: #fff;
}
.hero__btn--delivery {
  background-color: #fa4a0c;
  box-shadow: 0 10px 30px 0 rgba(183, 50, 39, 0.2);
}
.hero__btn--menu {
  border: 1px solid #fff;
}

.how {
  padding: 55px 0;
}
.how__title {
  font-weight: 600;
  font-size: 44px;
  line-height: 82%;
  letter-spacing: 0em;
  color: #000;
  text-align: center;
  margin-bottom: 69px;
}

.create {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.how-create__account {
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0em;
  color: #fa4a0c;
}
.how-create__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 142%;
  letter-spacing: 0.01em;
  color: #252b42;
}
.how-create__text {
  font-weight: 500;
  font-size: 24px;
  line-height: 158%;
  letter-spacing: 0.01em;
  color: #737373;
}

.order {
  padding: 130px 0;
  background-image: url("../images/orderbg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 516px;
  padding: 138px 0;
}
.order .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.order__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 142%;
  letter-spacing: 0.01em;
  text-align: center;
  color: #fff;
}
.order__text {
  font-weight: 500;
  font-size: 24px;
  line-height: 158%;
  letter-spacing: 0.01em;
  text-align: center;
  color: #fff;
  margin-bottom: 60px;
}

.order-download {
  margin: 0 auto;
  width: 300px;
}
.order-download__btn {
  border-radius: 10px;
  padding: 18px 31px;
  background-color: transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: 175%;
  letter-spacing: 0.01em;
  color: #fff;
}
.order-download__btn--playstore {
  background-color: #fa4a0c;
  margin-right: 16px;
}
.order-download__btn--appstore {
  border: 1px solid #fff;
}

.footer {
  padding: 114px 0;
}
.footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__span {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.01em;
  text-align: right;
  color: #5c5c5c;
}/*# sourceMappingURL=main.css.map */